:root{
    --bg-blue: rgb(180,208,231);
    --border-grey: rgb(208,208,211);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav .cont-nav ul {
    list-style: none;
    display: flex;
    column-gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: black;
}

nav {
    position: relative;
    height: 59px;
}

.total-nav-container {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: white;
}

h2 {
font-size: 3rem;
}

.container1200 h2 {
    margin-bottom: 15px;
}

.cont-nav {
    display: flex;
    align-items: center;
}

.cont-nav.moved {
    position: absolute;
    right: 0;
}

.cont-nav > * {
    margin: 15px 10px;
}

.btn {
    padding: 5px 15px;
    background-color: rgb(0, 97, 255);
    color: white;
    border: 0;
}

.container-section-1 {
    width: 100%;
    background-color: var(--bg-blue);
    padding-top: 80px;
}

.container1200{
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

.container920{
    margin: 0 auto;
    width: 920px;
}

.flexing {
    display: flex;
    column-gap: 20px;
}

.flexing .col40 .btn{
    margin: 40px 0;
}

.col40 {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.col60 {
    flex-basis: 58%;
    position: relative
}

.container-section-1 .col60 img {
    display: block;
    width: 100%;
    height: 500px;
    position: absolute;
}

.col40 i {
    margin-top: 180px;
    margin-bottom: 20px;
    font-size: 40px;
}

.inside-margin {
    margin: 100px 50px 100px 0;
    display: inline-block;
}

.inside-margin {
    margin: 50px 50px 50px 0;
    display: inline-block;
}

.fa-regular.fa-circle {
    padding-right: 5px;
}

.container-3col {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(208,208,211);
}

.dropuse {
    text-align: center;
    border-bottom: 1px solid rgb(208,208,211);
}

.column > * {
    margin: 5px 0;
}

.container-3col li {
    margin: 15px 0;
}

h3 {
    font-size: 26px;
}

.secondary {
    margin-top: 50px;
    border: 1px solid rgb(208,208,211);
}

.inside-container {
    display: flex;
    padding: 20px;
}

.container75 {
    flex-basis: 75%;
}

.container25 {
    flex-basis: 25%;
}

.minor-title {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0 30px 0;
}

.section {
    margin: 100px 0;
}

.container920 .col60 img {
    display: block;
    width: 100%;
}

.flex {
    display: flex;
}

.section .container920 .col40 {
    padding: 80px 25px;
}

.section .container920 .col40 p {
    margin: 30px 0;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
}

.dimensioned {
    width: 100%;
}

.banner {
    width: 920px;
    margin: 100px auto;
}

.banner h2 {
    margin-bottom: 80px;
}

.inferno {
    height: 500px;
    background-color: aquamarine;
}

.banner-container {
    width: 100%;
    padding-top: 100px;
    background-color:rgb(180,208,231);
}

.banner.flex.teal {
    margin-top: 0;
    background-color:rgb(180,208,231);
}