:root{
    --bg-blue: rgb(180,208,231);
    --border-grey: rgb(208,208,211);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

nav .cont-nav ul {
    list-style: none;
    display: flex;
    column-gap: 1.5rem;
}

.main-functions h5 {
    font-size: 1rem;
}

.column .main-functions hr {
    margin: 25px 0 25px 0;
    width: 20%;
    color: var(--border-grey);
}

.banner a {
    color: blue;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    color: black;
}

nav {
    position: relative;
    height: 59px;
}

.column i {
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
}

.total-nav-container {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: white;
    z-index: 2;
}

h2 {
font-size: 3rem;
}

.container1200 h2 {
    margin-bottom: 15px;
}

.cont-nav {
    display: flex;
    align-items: center;
}

.cont-nav.moved {
    position: absolute;
    right: 0;
}

.cont-nav > * {
    margin: 15px 10px;
}

.btn {
    padding: 5px 15px;
    background-color: rgb(0, 97, 255);
    color: white;
    border: 0;
}

.white {
    background-color: white;
    padding: 15px 10px;
    margin-right: 100px;
    font-size: 18px;
    border: 1px solid black;
}

.alt-btn {
    align-self: flex-end;
    color: black;
    background-color: white;
    border: none;
    padding: 25px;
}

.btn.bigger {
    padding: 25px;
}

.container-section-1 {
    width: 100%;
    background-color: var(--bg-blue);
    padding-top: 80px;
}

.container1200{
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

.container920{
    margin: 0 auto;
    width: 920px;
}

.flexing {
    display: flex;
    column-gap: 20px;
}

.flexing .col40 .btn{
    margin: 30px 0;
}

.col30 {
    flex-basis: 30%;
    display: flex;
}

.col40 {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.col60 {
    flex-basis: 60%;
    position: relative
}

.col70 {
    flex-basis: 70%;
    display: flex;
}

.container-section-1 .col60 img {
    display: block;
    width: 100%;
    position: absolute;
}

.container-3col .col40 i,
.container1200 .col40 i {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 40px;
}

.inside-margin {
    margin: 50px 10px;
    display: inline-block;
}

.fa-regular.fa-circle {
    padding-right: 5px;
}

.container-3col {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column {
    flex-basis: 29%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-grey);
}

.titolino {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--border-grey);
}

.main-functions {
    padding: 20px;
}

.main-functions > * {
    margin-top: 10px;
}

.main-functions .btn  {
    padding: 10px 40px;
}

.container-3col li {
    margin: 15px 0;
}

h3 {
    font-size: 26px;
}

.secondary {
    margin-top: 50px;
    border: 1px solid var(--border-grey);
}

.inside-container {
    display: flex;
    padding: 20px;
}

.container75 {
    flex-basis: 75%;
}

.container25 {
    flex-basis: 25%;
}

.minor-title {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0 30px 0;
}

.section {
    margin: 100px 0;
}

.container920 .col60 img {
    display: block;
    width: 100%;
}

.flex {
    display: flex;
}

.section .container920 .col40 {
    padding: 80px 25px;
}

.section .container920 .col40 p {
    margin: 30px 0;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.dimensioned {
    width: 100%;
}

.banner {
    width: 920px;
    margin: 100px auto;
}

.banner h2 {
    margin-bottom: 80px;
}

.colors-container {
    width: 100%;
}

.block.flex{
    display: flex;
    width: calc(100% / 3);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.square-small {
    height: calc(100vw / 6);
    width: 50%;
}

.square-small img {
    filter: invert(1);
    width: 100%;
    display: block;
    margin: auto;
    padding: 20vh 2vw;
}

.square-small .img-cont .except {
    padding: 30% 15% 0 15%;
}

.square-small .img-cont .exceptbis {
    padding: 50% 15%;
}

.banner-container {
    width: 100%;
    padding-top: 100px;
    background-color:rgb(180,208,231);
}

.banner.flex.teal {
    margin-top: 0;
}

.mini-border {
    border: 15px solid rgb(209,233,205);
    border-left: none;
}

.central {
    background-color: rgb(245,245,245);
    padding: 50px;
    padding: 0 1vw;
}

.row {
    border-top: 1px solid rgb(200,200,200);
}

.row.flex > * {
    padding: 30px;
    font-weight: bold;
}

.col30.end {
    justify-content: end;
}

.special {
    padding: 100px;
}

.footer-col {
    width: 20%;
}

.footer-col li{
    margin: 15px;
}

footer h3 {
    margin: 30px 15px;
}

.language {
    padding: 40px 0;
}